<!DOCTYPE html>
<html>
    
<script src="js/angular.min.js"></script>
<script src="js/angular.js"></script>
<link rel="stylesheet" href="index.css">
         
<body ng-app="myApp" ng-controller="todoCtrl">
    <title>To do List</title>
<center>
    <br>
<h2>To-do List</h2>

<form ng-submit="todoAdd()">
    <input type="text" ng-model="todoInput" size="40" placeholder="Enter task">
    <input type="submit" value="Add Task">
</form>

<br>

<div ng-repeat="x in todoList">
    <input type="checkbox" ng-model="x.done"> <span ng-bind="x.todoText"></span>
</div>

<p><button ng-click="remove()">Delete task</button></p>

    <style>
    
        body {
            background-color: bisque
        }
        h2 {
            font-size: 35px;
            font-family: Berlin Sans FB;
        }
        button {
            font-size: 16px;
        }
    </style>

   
</body>
</html>
